[build]
command = "pip install -r requirements.txt"
publish = "templates"

[build.environment]
PYTHON_VERSION = "3.11"

[dev]
command = "FLASK_APP=app.py flask run --host=0.0.0.0 --port=8888"
targetPort = 8888
port = 3000
framework = "#custom"

[[redirects]]
from = "/"
to = "/home.html"
status = 200

[[redirects]]
from = "/*"
to = "/home.html"
status = 200

